{% extends 'base.html' %}
{% block title %}KECian | Login{% endblock title %}
{% block lsbtn %}<a href="{% url 'signup' %}" class="btn btn-outline-info rounded-pill">Sign Up</a>{% endblock lsbtn %}
{% block bgimg %}
{% endblock bgimg %}

{% block content %}
<style>
    .g{
        color: rgb(247, 250, 83);
    }
</style>
<div class="container mt-3 {% if content.highlight %}gradient-border{% endif %}" style="border: 1px solid {{bordercolor}};">
    <h3 class="text-center my-3">{{content.title|safe}}</h3>
    {% if content.author.username %}
    <div class="container">
    </div>
    <div class="card mb-3">
        <div class="card-body bg-dark text-light">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-3">
                    <span class="text-start"><strong>Author</strong>: {{content.author.username|title}}</span>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-3">
                    {% if followbtn %}
                    <center>
                        {% comment %} <button id="follow-button" data-action="{% if not user in request.user.following.all %}follow{% else %}unfollow{% endif %}" data-username="{{ content.author.username }}">
                            {% if not user in request.user.following.all %}Follow{% else %}Unfollow{% endif %}
                        </button> {% endcomment %}
                        {% if request.user.is_authenticated %}
    {% if request.user in target_user.following.all %}
        <a href="{% url 'unfollow' target_user.username %}">Unfollow</a>
    {% else %}
        <a href="{% url 'follow' target_user.username %}">Follow</a>
    {% endif %}
{% endif %}

                    </center>
                    {% endif %}
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <span class="text-right"><strong>Published on</strong>: {{content.dt_published}}</span>
                </div>
            </div>
        </div>
    </div>
    {{content.content|safe}}
    {% endif %}
</div>
<script>
    $(document).ready(function() {
    $("#follow-button").click(function() {
        var action = $(this).data("action");
        var username = $(this).data("username");

        $.ajax({
            url: "/follow_unfollow/" + username + "/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                if (action == "follow") {
                    $("#follow-button").text("Unfollow");
                    $("#follow-button").data("action", "unfollow");
                } else {
                    $("#follow-button").text("Follow");
                    $("#follow-button").data("action", "follow");
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
});

</script>
{% endblock content %}